{
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": false,
            "experimentalObjectRestSpread": false
        }
    },
    "env": {
        "node": true,
        "browser": false,
        "es6": true
    },
    "rules": {
        "semi": ["error", "always"],
        "no-extra-semi": "error"
    }
}